.command-card {
  background-color: #A9B6D4;
  min-width: 20vw;
  max-width: 26.5vw;
  text-align: left;
  overflow-x: scroll;
  white-space: nowrap;
}

/* on macOS, scroll bars are not automatically visible. force scroll bar to always be shown. */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 2px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .2);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}