.loading {
  align-items: center; 
  padding-left: 50px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-modal {
  position: absolute;
  top: 5px;
  right: 10px;
}

.tree-view-outer {
  border-radius: 15px;
  overflow:hidden;
  display: flex;
  margin: auto auto;
  width: 600px;
  min-height: 100px;
  max-height: 400px;
  background-color: white;
  position: relative;
}

.tree-view {
  padding: 20px 100px;
  width: 500px;
  overflow-y: auto;
}

.confirm-selected .secondary-button {
  position: absolute;
  max-width: 30px;
  bottom: 10px;
  right: 15px;
}

.modal ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 10px;
}