.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tree-view-outer {
  border-radius: 15px;
  overflow:hidden;
  display: flex;
  margin: auto auto;
  width: 500px;
  min-height: 100px;
  max-height: 400px;
  background-color: white;
}

.tree-view {
  padding: 20px 100px;
  width: 500px;
  overflow-y: auto;
}