.go-back {
    position: fixed;
    top: 80px;
    left: 60px;
    z-index: 100;
}

.slurm .command-card-container {
  position: fixed;
  bottom: 40px;
  left: 60px;
  overflow: hidden;
  border-radius: 15px;
}

.slurm .run-button {
  margin-bottom: 20px;
}

