@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Sometype Mono";
  color: #333;
}

button {
  background: #486AA8;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.secondary-button {
  background: white;
  color: black;
  border: 1px solid black;
  min-width: 100px;
}

.title-h2 {
  font-size: 20px;
  color: #486AA8;
  background-color: white;
  height: 30px;
  width: 50vw;
  position: sticky;
  margin: 0 auto;
  margin-bottom: 20px;
  border-bottom: 2px solid #f2f2f2;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  z-index: 10;
  top: 60px;
}